@model FinalWebApp.Models.PromoProject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PromoProject</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YouTubeInfosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YouTubeInfosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromoRequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromoRequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartingTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MidTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MidTitle2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidTitle2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BgMusicFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BgMusicFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
