@model FinalWebApp.Models.PromoProject

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PromoProject</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.YouTubeInfosId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YouTubeInfosId)
                @Html.ValidationMessageFor(model => model.YouTubeInfosId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromoRequestId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromoRequestId)
                @Html.ValidationMessageFor(model => model.PromoRequestId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartingTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartingTitle)
                @Html.ValidationMessageFor(model => model.StartingTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MidTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MidTitle)
                @Html.ValidationMessageFor(model => model.MidTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MidTitle2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MidTitle2)
                @Html.ValidationMessageFor(model => model.MidTitle2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTitle)
                @Html.ValidationMessageFor(model => model.EndTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BgMusicFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BgMusicFile)
                @Html.ValidationMessageFor(model => model.BgMusicFile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.secs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.secs)
                @Html.ValidationMessageFor(model => model.secs)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
