@model IEnumerable<FinalWebApp.Models.PromoProject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YouTubeInfosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoRequestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MidTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MidTitle2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BgMusicFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YouTubeInfosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromoRequestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MidTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MidTitle2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BgMusicFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
